.flex_col, .flex, .flex_wr
  display: flex;

.flex_col
  flex-direction: column;
.flex_wr
  flex-wrap: wrap;


// - gorizontal
.x_start
  justify-content: flex-start;

.x_end
  justify-content: flex-end;

.x_center
  justify-content: center;

.x_se
  justify-content: space-evenly;

.x_sa
  justify-content: space-around;

.x_sb
  justify-content: space-between;

.x_base
  align-items: baseline;

// - vertical
.y_center
  align-items: center;

.y_start
  align-items: flex-start;

.y_end
  align-items: flex-end;

.y_base
  align-items: baseline;




.self_center
  align-self: center;
.self_end
  align-self: end;